/* ----- PushButton ----- */
QPushButton {
  font-family: PingFangSC-Regular, PingFang SC;
  font: bold 17px;
  background-color: #ffffff;
  border: 1px solid #dcdfe6;
  padding: 5px;
  border-radius: 7px;
}

QPushButton:hover {
  background-color: #bff1d8;
  color: #066335;
}

QPushButton:pressed,
QPushButton:checked {
  border-color: #44b17b;
  color: #066335;
}

/* ----- ComboBox ----- */
QComboBox {
  font-family: PingFangSC-Regular, PingFang SC;
  font: 17px;
  background-color: #ffffff;
  border: 1px solid #dcdfe6;
  padding: 10px;
  border-radius: 7px;
}
/*  选择箭头样式 */
QComboBox:drop-down {
  width: 40px;
  height: 40px;
  border: none;
  padding-right: 10px;
  image: url(./res/down.png);
}
QCobBox:down-arrow {
  image: url(./res/down.png);
}
QComboBox:down-arrow:checked {
  background-color: #ffffff;
  image: url(./res/up.png);
}

QComboBox:hover {
  background-color: #bff1d8;
  color: #066335;
}

QComboBox:pressed,
QComboBox:checked {
  border-color: #44b17b;
  color: #066335;
}